:root {
    --primary-color: #F0738A;
    --primary-color-light: rgba(240, 115, 138, 0.1);
    --secondary-color: #f08195;
    --secondary-color-light: rgba(240, 129, 149, 0.1);
}

#header-logo {
    min-width: 50px;
}

.m-h-5 {
    min-height: 30px;
}

.m-w-5 {
    min-width: 30px;
}

@media (max-width: 660px) {
    #preview {
        flex-direction: column;
    }
}