:root {
	--primary-color: #f0637d;
	--primary-color-light: rgba(240, 115, 138, 0.1);
	--secondary-color: #f08195;
	--secondary-color-light: rgba(240, 129, 149, 0.1);
}

#header-logo {
	min-width: 50px;
}

.m-h-5 {
	min-height: 30px;
}

.m-w-5 {
	min-width: 30px;
}
.mx-w-5 {
	max-width: 30px;
}

.contain {
	object-fit: contain;
}

.faq-trigger {
	max-width: 100%;
}

#hero-section {
	background-image: linear-gradient(
			rgba(233, 116, 68, 0.1),
			rgba(244, 164, 96, 0.1)
		),
		url("/assets/images/background.avif");
	background-size: cover;
	background-position: center;
	-webkit-background-size: cover;
}

@media (max-width: 660px) {
	#preview {
		flex-direction: column;
	}

	#header-icons .hide-small {
		display: none;
	}
}

@media (max-width: 1024px) {
	#create-content {
		justify-self: end;
	}
}

@supports (-webkit-overflow-scrolling: touch) {
	.parallax-bg {
		background-attachment: scroll;
	}
}

@supports (-webkit-touch-callout: none) and (not (translate: none)) {
    .parallax-bg {
		background-attachment: scroll;
	}
}

@media (hover: none) and (pointer: coarse) {
    .parallax-bg {
		background-attachment: scroll;
	}
}

html, body {
	overflow-x: hidden;
}